body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0074D9;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
}

p {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.redirect-link {
    background-color: #0074D9;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.redirect-link:hover {
    background-color: #0056b3;
}
